<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="My Test Suite">
        <classes>
            <class name="tests.api.FirstApiTest">
                <methods>
                    <include name="createNewUserCheck"/>
                    <include name="updateUserCheck"/>
                    <include name="deleteUserCheck"/>
                </methods>
            </class>
            <class name="tests.ui.LoginUiTest">
                <methods>
                    <include name="checkSuccessfulLogin"/>
                    <include name="checkInvalidLogin"/>
                    <include name="checkClickableLoginButton"/>
                </methods>
            </class>
            <class name="tests.ui.ProductsTest">
                <methods>
                    <include name="checkGoodsMoreThenZero"/>
                    <include name="checkPointsOfBurgerMenu"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>